{
    "local_backup_dir": "",
    "servers": [
        {
            "hostname": "",
            "ip": "",
            "port": ,
            "username": "",
            "ssh_key": "",
            "ssh_key_passphrase": "",
            "backup_dir": ""
        }
    ]
}